SECRET_KEY=4387920qewiudshgvfyr8ue9w0sdoipgtfui89re0wogtf-=e0igtoujfdkugte89fvodiejrhwau0pdso
ACCESS_TOKEN_EXPIRE_MINUTES=10080
DATABASE_URL=sqlite:///./app.db
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_MAX_CONTEXT_CHARS=28000
TESSERACT_CMD=
